:root {
  --primary-color: rgb(46, 88, 202);
  --secondary-color: rgb(78, 56, 219);
  --border: 1px solid rgb(28, 55, 206);
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

body {
  background: linear-gradient(
      110.3deg,
      rgb(238, 179, 123) 8.7%,
      rgb(216, 103, 77) 47.5%,
      rgb(114, 43, 54) 89.1%
    )
    fixed;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  padding-top: 20px;
}

h3 {
  padding-top: 10px;
}

li {
  display: block;
  margin: 0;
  text-align: center;
  list-style: none;
}

.primary-links {
  margin: 30px;
  color: var(--secondary-color);
  font-size: 17px;
}

.primary-links a {
  border: var(--border);
  border-radius: 5px;
  padding: 7px;
  box-shadow: var(--box-shadow);
}

.primary-links a:hover {
  background: var(--secondary-color);
  color: whitesmoke;
}

.home-link {
  padding: 10px;
}
.croissant {
  width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
